{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!
{% endblock %}

{% block body %}
	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

<div class="loginform">
	<form action="{{ path('app_login') }}" method="post" >
		<div class="cartouche">
			<label class="w-25" for="username">Email: </label>
			<input class="col" type="text" id="username" name="_username" value="{{ last_username }}">
		</div>
		<div class="cartouche">
			<label class="w-25" for="password">Password: </label>
			<input class="col" type="password" id="password" name="_password">
		</div>

		<input 
		type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				        <input type="hidden" name="_target_path" value="/genre">

		<button class="button-29"  type="submit" title="se connecter">Se connecter</button>
	</form>
</div>
{% endblock %}
