.pieceplaycorpus {
    margin-top: 2%;
    margin-left: 10px;
}

.h5pieceplayact {
    align-self: center;
}

.blockactesbutton {
    display: flex;
    flex-direction: column;
}
.imgpiecedetails {
    height: 200px;
}

@media screen and (min-width: 600px) {
.imgpiecedetails {
    height: 20%;
}
.blockactesbutton {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

}