{% extends "base.html.twig" %}


{% block body %}

<div class="landingMain">
	<a class="button-29" title="se connecter" href="{{ path('app_login') }}">
		CONNEXION
	</a>

	<a class="button-29" title="enregistrement" href="{{ path('app_register') }}">
		S'ENREGISTER
	</a>
</div>

{% endblock %}
